body{margin:0;}
#person{
    display: none;
}
#logform,#regisform{
    position: absolute;
    display: none;
    overflow: hidden;
    border:1px solid #CCC;
    background-color:#F9F9F9;
    padding:5px;
}
form {position:absolute;
    top:200px;
    left:300px;
    background-color: white;
    width:70%;
    height: 70%;
    z-index:1;
    border-style: outset;
    border:5px;
    border-color: white;
}
form fieldset{
    height:80%;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
#selection{
    position:absolute;
    right:0px;
    top:300px;
}
header a{color:black;}
header{
    width:100%;
    background-color:gainsboro;
    height: 30px;

}
header table{
    position:absolute;
    top:0px;
    right:30px;
    background-color:gainsboro;
}
#seek{
    position: absolute;
    top:80px;
    right:30px;
}
nav div input{
    height:30px;
    width:200px;
}


nav h1{
    margin:0;
    padding: 0.5em;
    font-size:60px;
}
#navigate{
    width:100%;
    background-color: black;

}
#navigate a{color:white;}
#navigate table td{
    font-size:30px;
    margin:10px;
    padding-left: 50px;
    padding-right: 50px;
}
.left{
    float:left;
}
#intro{
    border-collapse: collapse;
    width:500px;
    height:300px;
}
 #intro tr {
    border:1px solid #CCC;
}
 strong{
     color:red;
 }
 .left button{
     background-color: dodgerblue;
 }
.left button a{
    color:black;
}
.right{
    float:right;
}
.right table{
    border-collapse: collapse;
    width:200px;
    height:250px;
}
.right table tr{
    border:1px solid powderblue;
}
.right table th{
    background-color:powderblue;
}